/* 4O4 */
.notFound {
  padding-top: 80px;
  background-image: url("./../images/4O4/error-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.notFound .img {
  margin-bottom: 80px;
}
.notFound h2 {
  font-weight: 700;
  font-size: 64px;
  line-height: 96px;
  color: #38383e;
  margin-bottom: 24px;
}
.notFound p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #77787c;
  margin-bottom: 80px;
}
.notFound a {
  background: #016a78;
  border-radius: 8px;
  display: inline-flex;
  padding: 11.5px 20px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  gap: 15px;
}

/* 4O4 */
