/* footer */
.footer {
  background-color: var(--Text);
  padding-left: 24px;
  padding-right: 24px;
}
.footer .col-lg-4 img {
  max-width: 120px;
  width: 100%;
  max-height: 73.64px;
  height: 100%;
  object-fit: cover;
  margin-top: 39px;
  margin-bottom: 47px;
}
.footer .col-lg-4 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--Background-Color);
  opacity: 0.6;
  max-width: 418px;
}
.footer .col-lg-4 h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: var(--Background-Color);
  margin-bottom: 12px;
}
.footer .col-lg-4 .payment {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
}
.footer .col-lg-4 .payment img {
  max-width: 70px;
  width: 100%;
  max-height: 35px;
  height: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}
.footer .col-lg-2 .heading {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: var(--Background-Color);
  margin-bottom: 24px;
}
.footer .col-lg-2 .supprt_link,
.footer .col-lg-2 .social_link,
.footer .col-lg-2 .footer_link {
  padding-left: 0px;
}
.footer .col-lg-2 .supprt_link li a,
.footer .col-lg-2 .footer_link li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--Background-Color);
  opacity: 0.6;
  margin-bottom: 16px;
  display: inline-block;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.footer .col-lg-2 .supprt_link li a:hover,
.footer .col-lg-2 .footer_link li a:hover {
  color: var(--Primary);
  transition: all linear 0.3s;
}
.footer .col-lg-2 .social_link {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer .tiny_footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--Background-Color);
  text-align: center;
  margin-top: 56px;
  margin-bottom: 40px;
  padding-top: 16px;
  border-top: 1px solid rgba(255, 255, 255, 0.16);
}
/* footer */
