/* mega sell */
.mega_sell {
  margin-bottom: 80px;
}
.mega_sell .image {
  position: relative;
}
.mega_sell .image img {
  width: 100%;
  height: 100%;
}
.mega_sell .image .overlay {
  position: absolute;
  top: 5%;
  right: 5%;
  text-align: right;
  max-width: calc(100% - 58%);
  width: 100%;
}
.mega_sell .image .overlay h2 {
  font-weight: 200;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0.1em;
  color: var(--Background-Color);
}
.mega_sell .image .overlay h2 span {
  font-weight: 700;
}
.mega_sell .image .overlay h4 {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: var(--Background-Color);
}
.mega_sell .image .overlay p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--Background-Color);
  margin-bottom: 40px;
}
.mega_sell .image .overlay a {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--Text);
  background-color: var(----shop-collection);
  padding: 10px 40px;
  border-radius: 10px;
}

/* mega sell */
